<template>
  <div class="row">
      <ul>
        <li v-for="crime in crimesList" :key="crime.GROUD_ID">{{crime.GROUP_ID_DESC}}</li>
      </ul>
  </div>
</template>
<script>
import axios from 'axios'
import {CRIMES_LIST} from './../constants/URL'
export default {
  data () {
    return {
      crimesList: []
    }
  },
  mounted () {
    axios.get(CRIMES_LIST).then(response => {
      this.crimesList = response.data.list
      this.$emit('crimesList', this.crimesList)
    })
  }
}
</script>
<style scoped lang="scss">
ul {
  list-style-type: none;
  text-align: center;
  font-size: 21px;
  width: 100%;
  padding: 0;
  li{
    cursor: pointer;
  }
}
</style>
