<template>
  <div class="main-component">
    <div class="container">
      <h1 class="title">Е-аппаратное совещание</h1>
      <h1 class="description">Основные показатели уголовных правонарушений за {{date}} в сравнении с аналогичным периодом прошлого года</h1>
      <select id="region-select" v-model="selectedRegion">
        <option v-for="region in regions" :key = "region.CRIME_REGION" v-if="region.CRIME_REGION.length === 4" :value="region.CRIME_REGION">{{region.CRIME_ID_DESC}}</option>
      </select>
      <select id="organ-select" v-model="selectedOrgan">
        <option v-for="organ in organs" :key="organ.organ_ID" :value="organ.organ_ID">{{organ.organ_DESC}}</option>
      </select>
      <CrimesList @crimesList = "getCrimesList"></CrimesList>

      <div v-for="crime in crimesList" :key="crime.GROUP_ID">
        <h3>{{crime.GROUP_ID_DESC}}</h3>
        <div class="row">
          <RegionGraphicByYear :region = "selectedRegion" :groupID = "crime.GROUP_ID" :regions = "regions"></RegionGraphicByYear>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CrimesList from './CrimesList.vue'
import RegionGraphicByYear from './RegionGraphicByYear.vue'
import axios from 'axios'
import {ARTICLES_NAME, REGIONS, ORGANS} from './../constants/URL'
export default {
  name: 'HelloWorld',
  data () {
    return {
      date: '11.05.2018',
      crimesName: [],
      regions: [],
      organs: [],
      selectedRegion: '1911',
      selectedOrgan: '00',
      crimesList: []
    }
  },
  mounted () {
    axios.get(ARTICLES_NAME).then(response => {
      this.crimesName = response.data.list
    })
    axios.get(REGIONS).then(response => {
      this.regions = response.data.list
    })
    axios.get(ORGANS).then(response => {
      this.organs = response.data.list
    })
  },
  components: {CrimesList, RegionGraphicByYear},
  methods: {
    getCrimesList (data) {
      this.crimesList = data
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  $title-color : #002060;
  $fontSize : 36px;
  $fontFamily : "Helvetica Neue",Helvetica,Arial,sans-serif;
  .main-component{
    font-family: $fontFamily;
    .container{
      text-align: center;
      .title {
        text-align: center;
        color : $title-color;
        font-size: $fontSize;
        font-weight: 700;
        padding:15px
      }
      .description {
        text-align : center;
        font-size: $fontSize;
      }
      select {
        height: 40px;
        width: 170px;
        font-size: 18px;
        font-weight: 400;
        margin:10px 0
      }
    }
  }
</style>
