<template>
  <div class="col-md-4">
    <vue-highcharts :options="options" :styles = '{}' ref="lineCharts"></vue-highcharts>
  </div>
</template>
<script>
import axios from 'axios'
import {REGION_GRAPHIC_BY_YEAR} from './../constants/URL'
import VueHighcharts from 'vue2-highcharts'
export default {
  props: ['region', 'groupID', 'regions'],
  components: {
    VueHighcharts
  },
  data () {
    return {
      graphicData: [],
      regionsData: [],
      options: {
        chart: {
          type: 'column'
        },
        title: {
          text: 'koba'
        },

        xAxis: {
          categories: ['2017', '2018']
        },

        yAxis: {
          gridLineWidth: 0,
          stackLabels: {
            enabled: true,
            style: {
              fontSize: '16px',
              fontWeight: 'bold',
              color: (VueHighcharts.theme && VueHighcharts.theme.textColor) || 'black'
            }
          },
          labels: {
            enabled: false
          },
          title: {
            text: null
          }
        },
        tooltip: {
          enabled: false,
          formatter: function () {
            return '<br/>' + this.series.name + ': ' + this.y + '<br/>'
          }
        },
        plotOptions: {
          column: {
            stacking: 'normal'
          }
        },
        series: []
      }
    }
  },
  watch: {
    region: function () {
      this.drawGraphic(this.graphicData, true)
    }
  },
  mounted () {
    axios.get(`${REGION_GRAPHIC_BY_YEAR}?CRIME_REG_CODE=1900&ORGAN_ID=00`).then(response => {
      this.graphicData = response.data.list
      this.drawGraphic(this.graphicData, false)
    })
  },
  methods: {
    drawGraphic (data, isUpdate) {
      data.forEach(item => {
        if (item.CRIME_REGION === this.region && item.CRIME_GROUP === this.groupID) {
          let graphicSeries = {
            data: [Number(item.CRIME_COUNT_PREV), {y: Number(item.CRIME_COUNT), color: item.CRIME_COLOR}]
          }
          if (isUpdate) {
            this.$refs.lineCharts.removeSeries()
          }
          this.$refs.lineCharts.addSeries(graphicSeries)
        }
      })
      let regionName = this.regions.find(item => this.region === item.CRIME_REGION)
      this.$refs.lineCharts.mergeOption({title: {text: regionName.CRIME_ID_DESC}})
    }
  }
}
</script>
<style>

</style>
