<template>
  <table>
    <thead>
      <tr>
        <td>№</td>
        <td>Название статьи</td>
        <td>Кол-во за 2017</td>
        <td>Кол-во за 2018</td>
        <td>+/- в %</td>
      </tr>
    </thead>
    <tbody>
      <tr></tr>
    </tbody>
  </table>
</template>
<script>

</script>

<style>
</style>
